@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.body {
  background-color: #37393d;
  color:white;
  font-family: 'Roboto', sans-serif;
  background-image:url(file:///C:/Users/mixaj/Desktop/Без%20имени-1.png);

  .content {
  	transition: max-height 0.2s;
  	overflow: hidden;
  	&[aria-hidden="true"] {
  		max-height: 0;
  	}
  	&[aria-hidden="false"] {
  		max-height: var(--containerHeight, 1000px);
  	}
  }

  /* Everything after this is merely aesthetics */
  * {
  	box-sizing: border-box;
  }

  .container {
  	font-family: sans-serif;
  	line-height: 1.2;
  }

  .trigger {
  	font-size: 1em;
  	display: flex;
  	align-items: center;
  	padding: 0 20px;
  	min-height: 45px;
  	border: 2px solid #3ecf8e;
  	border-radius: 20px;
  	background-color: transparent;
  	color:white;
  	&:focus {
  		border: 2px solid #222;
  		outline: 0;
  	}
  	[data-drawer-showing="true"] & {
  		background-color: #3ecf8e;
  		border: 2px solid transparent;
  	}
  }

  .container + .container {
  	margin-top: 20px;
  }

  .content {
  	display: flex;
  	margin: 1em;
  	line-height: 1.4;
  	max-width: 800px;
  }

  .img1 {
  size: 200px;
  }

.dop {
  margin: auto;
  max-width: 800px;
}

.button {
  width: 200px;
  margin-left:800px;
  display: inline-block;
  background: #2196f3;
  color: #fff;
  padding: 12px;
  border-radius: 3px;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 18px;
  line-height: 1;
  font-weight: 100;
}
